@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  overflow-y: 'auto';
}

p{
  font-size: 14px;
}

.Link{
  text-decoration: none;
}



::-webkit-scrollbar {
  width: 5px;
  height: 6px !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgb(206, 204, 204);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #5B708B;
  border-radius: 10px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5B708B;
  cursor: grab;
}
